<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Information" icon="ion-home" href="#/tab/info">
    <ion-nav-view name="info-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Gallery" icon="ion-ios-information" href="#/tab/gallery">
    <ion-nav-view name="gallery-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Booking" icon="ion-home" href="#/tab/booking">
    <ion-nav-view name="booking-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="ContactUs" icon="ion-android-contact" href="#/tab/contactus">
    <ion-nav-view name="contactus-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>